[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Icomoon' !important;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-play:before {
  content: "\f04b";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-code:before {
  content: "\f121";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-tripadvisor:before {
  content: "\f262";
}
.icon-mixcloud:before {
  content: "\f289";
}